.clearfix::after {
    clear: both;
    display: block;
    content: "";
}

body {
     font-family: 'Montserrat', sans-serif;
}

a {
     text-decoration: none;
     color: black;
}

.responsive {
 max-width: 100%;
  height: auto;

}

.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}
